@import "bourbon"
@import fonts.sass
@import vars.sass

body
	font-family: "Merriweather", sans-serif
	font-weight: normal
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	margin: 0

h1,h2,h3,h4,h5,h6
	font-family: "OpenSansLight", sans-serif
	font-weight: normal

h1
	font-size: 41px
	line-height: 1.2

h2
	font-size: 32px

h3,h4
	font-family: "OpenSansSemiBold", sans-serif
	font-size: 15px

h4
	text-transform: uppercase
	font-size: 13px

body
	background-color: #202020
	.parallax-mirror
		overflow: none!important

.main_head
	min-height: 100vh
	background-size: cover
	background-position: top center


.header-content
	position: relative
	height: 100vh
	.top_wrapper
		display: table
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		.top_descr
			display: table-row
			.top_centered
				display: table-cell
				text-align: center
				vertical-align: middle





